<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Identify face</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/findfaceicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/findfaceicon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!--<link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">  
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">  
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet"> 
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet"> 
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet"> 
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
   
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-center">
        <div class="logo">
          <h1 class="text-light"><a href="{{ url_for('home') }}"><span>Find Face</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='assets/img/findfaceicon.png') }}" alt="" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
         <!--   <li><a class="nav-link scrollto active" href="#about">Home</a></li> -->
            <li><a class="nav-link scrollto" href="{{ url_for('home') }}#about">About</a></li>
            <li><a class="nav-link scrollto" href="{{ url_for('home') }}#services">Services</a></li>
            <li><a class="nav-link scrollto" href="{{ url_for('home') }}#contact">Contact</a></li>
        <!--   <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </div>
  </header>
    <body>
    <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h2>Please show the image of only the missing person's face on screen (photo works)</h2>
      <h3>If this is the missing person's name, click on the "That is the missing person" button</h3>
      <h3>If it shows unknown, click on "Report about the missing person"</h3>
      <div>
        <img src="{{ url_for('lostfacevideo') }}" width=50% > 
      </div>
        <div><a href="{{ url_for('person_found') }}" class="btn-get-started scrollto">That is the missing person</a>
      <a href="{{ url_for('informlost') }}" class="btn-get-started scrollto">Report about the missing person</a>
    </div>
    </div>
  </section>
 </body>
</html>